.dasboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 91vh;
}

.link{
    text-decoration: none;
    color: black;
    width: 50vw;
    margin-bottom: 30px;
}

.title {
    font-weight: bolder;
    font-size: larger;
}

.description {
    color: grey;
    font-size: small;
}