.quote {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 10px;
  cursor: pointer;
}

.author {
  font-weight: bold;
  grid-column: 1;
}

.statement {
  grid-column: 2;
}

.context {
  font-style: italic;
  color: grey;
  grid-column: 1 / 3;
}

.created {
  font-size: smaller;
  grid-column: 1 / 3;
}
